/* Table Screen Size */
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: 90vh;
        margin: 30px auto;
    }

    /* -- Left Box Design Starts -- */
    .left-col {
        width: 100%;
        height: 50%;
        border-right: none;
        border-bottom: 5px solid #fff;
        flex-direction: column;
    }

    /* -- Right Box Design Starts -- */
    .numpads button {
        flex: 30%;
    }
}


/* Mobile Screen Size */
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        height: 120%;
    }

    .left-col {
        height: 60%;
        padding: 50px;
    }

    .right-col {
        padding: 50px;
    }

    .secret-box {
        flex-direction: column;
    }

    .secret-box input, .secret-box button {
        margin-top: 10px;
    }

    .numpads button {
        flex: 40%;
    }
}


/* Mobile Screen Size */
@media screen and (max-width: 420px) {
    .right-col {
        width: 30%;
    }

    .secret-box, .numpads {
        width: 300px;
    }
}